/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.button {
  display: inline-block;
  padding: 15px 60px;
  text-decoration: none;
  font-weight: 600;
  font-size: 24px;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
  width: fit-content;
}

.button-green {
  color: white;
  background-color: #B2D234;
}

.button-white {
  color: #B2D234;
  background-color: white;
}

h2 {
  font-weight: 600;
  font-size: 52px;
  margin-bottom: 40px;
}

h3 {
  font-weight: 400;
  font-size: 64px;
  font-style: italic;
}

h4 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 12px;
}

P {
  font-size: 18px;
}

.home {
  background-image: url("./scss/img/home_bg.jpg");
  background-size: cover;
  background-position: center center;
}
.home > div:first-child {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  max-width: 1920px;
  margin: 0 auto;
}
.home > div:first-child header {
  font-weight: 300;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home > div:first-child header img {
  width: 200px;
  height: 100%;
}
.home > div:first-child header ul {
  display: flex;
  align-items: center;
}
.home > div:first-child header ul li {
  list-style: none;
  margin: 0 25px;
}
.home > div:first-child header ul li:nth-last-of-type(1) {
  font-weight: 600;
  color: #B2D234;
  background-color: white;
  padding: 10px 30px;
  border-radius: 5px;
}
.home > div:first-child div:nth-of-type(1) {
  margin: 0 auto;
}
.home > div:first-child div:nth-of-type(1) h1 {
  font-size: 126px;
  font-weight: 600;
  margin-bottom: 40px;
}
.home > div:first-child div:nth-of-type(1) p {
  position: relative;
  bottom: 30px;
  left: 60px;
  font-size: 54px;
  font-weight: 400;
  font-style: italic;
  transform: rotate(-9deg);
}
.home > div:first-child div:nth-of-type(2) {
  padding-right: 45px;
  padding-bottom: 45px;
  display: flex;
  justify-content: flex-end;
}
.home > div:first-child div:nth-of-type(2) img {
  margin: 0 10px;
}

.salad {
  background-image: url("./scss/img/salad_bg.png");
}
.salad > div:first-child {
  height: 100vh;
  display: flex;
}
.salad > div:first-child div:nth-of-type(1) {
  margin: auto 0%;
  padding-left: 10%;
  width: 50%;
}
.salad > div:first-child div:nth-of-type(1) h2 {
  color: #B2D234;
}
.salad > div:first-child div:nth-of-type(1) p {
  color: #606060;
  width: 450px;
  margin-bottom: 30px;
}
.salad > div:first-child div:nth-of-type(2) {
  background-image: url("./scss/img/salad.png");
  background-size: 115%;
  background-repeat: no-repeat;
  background-position: center left;
  height: 100%;
  width: 50%;
  margin: auto;
  overflow: hidden;
}

.prepared {
  background-image: url("./scss/img/prepared_bg.png");
  background-size: cover;
}
.prepared > div:first-child {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.prepared > div:first-child div:nth-of-type(1) {
  margin-right: 10%;
  color: white;
  background-color: rgba(178, 210, 52, 0.85);
  padding: 40px 70px;
  width: 650px;
  height: fit-content;
  text-align: center;
}
.prepared > div:first-child div:nth-of-type(1) p {
  margin-bottom: 40px;
}

.menu {
  background-image: url("./scss/img/menu_bg.png");
}
.menu > div:first-child {
  padding: 80px 0;
}
.menu > div:first-child > div:first-child {
  margin: 0 auto;
  width: 800px;
  text-align: center;
}
.menu > div:first-child > div:first-child h2 {
  color: #B2D234;
}
.menu > div:first-child > div:first-child p {
  color: #606060;
  margin-bottom: 40px;
}
.menu > div:first-child .order-menu {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.menu > div:first-child .order-menu > div {
  margin: 25px 25px;
  width: 525px;
}
.menu > div:first-child .order-menu > :last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.menu > div:first-child .order-menu > :last-child h3 {
  transform: rotate(-9deg);
}
.menu > div:first-child .order-menu > :last-child h3:nth-of-type(1) {
  color: #B2D234;
}
.menu > div:first-child .order-menu > :last-child h3:nth-of-type(2) {
  color: #60A0D8;
}
.menu > div:first-child .order-menu > :last-child p {
  margin-top: 80px;
  margin-bottom: 90px;
  color: #606060;
}
.menu > div:first-child .order-menu article {
  margin-bottom: 25px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  color: #606060;
}
.menu > div:first-child .order-menu article > div:first-child {
  display: flex;
  justify-content: space-between;
  color: #B2D234;
}
.menu > div:first-child .order-menu article:nth-of-type(3) {
  border: solid 2px #B2D234;
}
.menu > div:first-child .order-menu h5 {
  margin-top: -25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 124px;
  height: 24px;
  transform-origin: right;
  position: relative;
  left: calc(100% - 124px);
  font-weight: 400;
  font-size: 12px;
  color: white;
  background-color: #B2D234;
}

.colors {
  background-image: url("./scss/img/colors_bg.png");
  background-position: center;
  background-size: cover;
}
.colors > div:first-child {
  padding: 140px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.colors article {
  margin: 15px 15px;
  padding: 30px 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 630px;
}
.colors article div {
  display: flex;
}
.colors article li {
  margin-bottom: 14px;
}
.colors article ul {
  margin: 0 25px;
}
.colors article:nth-of-type(1) {
  background-color: rgba(178, 210, 52, 0.85);
}
.colors article:nth-of-type(2) {
  background-color: rgba(96, 160, 216, 0.85);
}

/*# sourceMappingURL=main.css.map */
