

// 

h2 {
    font-weight: 600;
    font-size: 52px;
    margin-bottom: 40px;
}

h3 {
    font-weight: 400;
    font-size: 64px;
    font-style: italic;
}

h4 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 12px;
}


P {
    font-size: 18px;
}

// Home---------------------------------------------------------------------------
.home {
    
    background-image: url('./scss/img/home_bg.jpg');
    background-size: cover;
    background-position: center center;

    > div:first-child {
        
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: white;
        max-width: 1920px;
        margin: 0 auto;

        header {
            font-weight: 300;
            padding: 25px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            img {
                width: 200px;
                height: 100%;
            }

            ul {
                display: flex;
                align-items: center;

                li {
                    list-style: none;
                    margin: 0 25px;
                }
                
                li:nth-last-of-type(1){
                    font-weight: 600;
                    color: #B2D234;
                    background-color: white;
                    padding: 10px 30px;
                    border-radius: 5px;
                    
                }
            }

            
        }


        div:nth-of-type(1) {
            margin: 0 auto;
            h1{
                font-size: 126px;
                font-weight: 600;
                margin-bottom: 40px;
            }

            p {
                position: relative;
                bottom: 30px;
                left: 60px;
                font-size: 54px;
                font-weight: 400;
                font-style: italic;
                transform: rotate(-9deg);
            }
        }

        div:nth-of-type(2) {
            padding-right: 45px;
            padding-bottom: 45px;
            display: flex;
            justify-content: flex-end;

            img {
                margin: 0 10px;
            }
        }
    }

    

}



// Salad---------------------------------------------------------------------------
.salad {
    
    background-image: url('./scss/img/salad_bg.png');
    

    > div:first-child {
        height: 100vh;
        display: flex;

        div:nth-of-type(1) {
            margin: auto 0%;
            padding-left: 10%;
            width: 50%;
           
            h2{
                color: #B2D234;
            }
            
            p {
                color: #606060;
                width: 450px;
                margin-bottom: 30px;
            }

            
        }

        div:nth-of-type(2) {
            background-image: url('./scss/img/salad.png');
            background-size: 115%;
            background-repeat: no-repeat;
            background-position: center left;
            height: 100%;
            width: 50%;
            margin:auto;
            overflow: hidden;
            
        }


        

        
    }
    
}


// Prepared---------------------------------------------------------------------------
.prepared {
    
    background-image: url('./scss/img/prepared_bg.png');
    background-size: cover;

    > div:first-child {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        div:nth-of-type(1) {
            margin-right: 10%;
            color: white;
            background-color: rgba(#B2D234, 0.85);
            padding: 40px 70px;
            width: 650px;
            height: fit-content;
            text-align: center;

            p {
                margin-bottom: 40px;
            }
        }

    }
    

}


// Menu---------------------------------------------------------------------------
.menu {
    
    background-image: url('./scss/img/menu_bg.png');

    > div:first-child {
        padding: 80px 0;
        

        > div:first-child {
            margin: 0 auto;
            width: 800px;
            text-align: center;

            h2 {
                color:#B2D234;
            }
            
            p{
                color: #606060;
                margin-bottom: 40px;
            }
        }


        .order-menu {
            margin-top: 80px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            
            >div {
                margin: 25px 25px;
                width: 525px;
            }


            > :last-child {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;

                h3 {
                    transform: rotate(-9deg); 
                }

                h3:nth-of-type(1) {
                    color:#B2D234;
                }

                h3:nth-of-type(2) {
                    color:#60A0D8;
                }

                p {
                    margin-top: 80px;
                    margin-bottom: 90px;
                    color: #606060;
                }
            }

            article {
                margin-bottom: 25px;
                padding: 10px;
                display: flex;
                flex-direction: column;
                color: #606060;

                > div:first-child {
                    display: flex;
                    justify-content: space-between;
                    color:#B2D234;
                }

            }


            article:nth-of-type(3) {
                border: solid 2px #B2D234;
            }

            h5 {
                margin-top: -25px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 124px;
                height: 24px;
                transform-origin: right;
                position: relative;
                left: calc(100% - 124px);
                font-weight: 400;
                font-size: 12px;
                color: white;
                background-color: #B2D234; 
            }
        }


    }
    

}
